<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="password" 	column="password" 		jdbcType="VARCHAR" />
		<result property="userName"	column="user_name" 		jdbcType="VARCHAR" />
		<result property="email" 			column="email" 				jdbcType="VARCHAR"  />
		<result property="phoneNumber" 			column="phone_number" 		jdbcType="VARCHAR" />
		<result property="birthday" 			column="birthday" 		jdbcType="DATE" />
		<result property="nickName" 			column="nick_name" 		jdbcType="VARCHAR" />
		<result property="profileImg" 				column="image_file" 					jdbcType="VARCHAR" />
		<result property="address" 				column="address" 					jdbcType="VARCHAR" />
		<result property="gender" 			column="gender" 		jdbcType="VARCHAR" />
		<result property="userStateList" 				column="user_state" 					jdbcType="CHAR" />
		<result property="naverId" 			column="naver_id" 		jdbcType="VARCHAR" />
		<result property="kakaoId" 			column="kakao_id" 		jdbcType="VARCHAR" />
		<result property="googleId" 			column="google_id" 		jdbcType="VARCHAR" />
		<result property="role" 			column="role" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addUser"		parameterType="user" >
	 	INSERT
		INTO users( user_id , password, user_name , email, phone_number , birthday, nick_name, image_file, address, gender, user_state, naver_id, kakao_id, google_id, join_meet_count, role) 
		VALUES	 (	#{userId}, #{password}, #{userName}, #{email}, #{phoneNumber}, #{birthday}, 
					#{nickName}, #{profileImg:VARCHAR}, #{address}, #{gender}, '0', 
					#{naverId:VARCHAR}, #{kakaoId:VARCHAR}, #{googleId:VARCHAR}, 0, 'user')
								
	 </insert>
	 
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getUser"	parameterType="string"	resultMap="userSelectMap">
		SELECT
		*
		FROM users 
		WHERE user_id = #{value} 
	 </select>
	 
	 <select id="getNickName" parameterType="string" resultMap="userSelectMap">
	 	SELECT
		*
		FROM users 
		WHERE nick_name = #{value} 
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateUser"	parameterType="user" >
	   	UPDATE users
	   	<set>
	   		image_file		= #{profileImg:VARCHAR} ,
	   		user_name 		= #{userName} ,
	   		nick_name		= #{nickName} ,
	   		email			= #{email} , 
			phone_number	= #{phoneNumber} ,
			address 		= #{address} ,
			
	   	</set>
	   	WHERE user_id = #{userId}
	 </update>
	 
	 <!-- 회원탈퇴 -->
	<delete id="delUser" parameterType="user" >
		DELETE FROM users
		WHERE user_id = #{userId}
	  		AND password = #{password} 
	</delete>
	 

</mapper>